*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

img,
video,
audio {
  max-width: 100%;
  height: auto;
}

/* Отключено. Есть в normalize.css  ↙
input, button, textarea, select {
font: inherit;
} */

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* Improve media defaults   ↙
img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}
*/
